// mixins
@import './mixins';

// colors
@import './colors';

// color assigment
$main-text-color: $black;
$page-bg-color: $white;

// fonts
$main-font: 'Roboto', sans-serif;

// layout
$container-padding: 18;
$max-container-width: 1170 + 2 * $container-padding;

// media
$md1: $max-container-width;
$md2: 992;
$md3: 768;
$md4: 480;
