/* RESET */

@import '/node_modules/reset-css/reset.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

/* VARIABLES */

@import './vars';

/* FONTS */

@import './fonts';

/* GLOBAL */

body {
    color: $main-text-color;
    font-family: $main-font;
    background: $page-bg-color;
}

._container {
    max-width: $max-container-width + px;
    margin: 0 auto;
    padding: 0 $container-padding + px;
}

/* UIKIT */

/* LAYOUT */
